/* Global Styles */
html, body {
  margin: 0;
  padding: 0;
  background-color: #000; /* Dark mode background */
  color: #fff; /* White text */
  font-family: 'Arial', sans-serif;
  height: 100%; /* Ensure full height */
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ensure full height */
}

/* Header */
.header {
  display: flex;
  flex-direction: column; /* Change to column to stack elements vertically */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Adjust the max-width as needed */
  margin: 0 auto;
  padding: 20px;
  background-color: #111;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better separation */
  transition: top 0.3s; /* Smooth transition for hiding/showing */
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #a5b79b; /* Sage Green Logo */
  margin-bottom: 10px; /* Add some space between the logo and the subheader */
}

.subheader {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px; /* Add some space below the subheader */
}

.subheader ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.subheader ul li {
  margin: 0 15px;
}

.subheader ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.subheader ul li a:hover {
  color: #a5b79b; /* Sage Green hover effect */
}

/* Hero Section */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  text-align: center;
  background-color: #111; /* Slightly lighter black for contrast */
  width: 100%; /* Take up the full width */
}

.hero-content h1 {
  font-size: 3em;
  color: #a5b79b; /* Sage Green heading */
}

.hero-content p {
  font-size: 1.5em;
  margin-top: 10px;
}

/* Scroll Animation */
.scroll-animation img {
  max-width: 300px; /* Control the size of the image */
  opacity: 0;
  transform: translateY(50px); /* Initial state for animation */
  transition: transform 1s ease-out, opacity 1s ease-out;
}

/* Sections */
.section {
  width: 100%; /* Make sure all sections take up full width */
  padding: 60px 20px; /* Add padding for spacing */
  text-align: center;
}

.section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #a5b79b;
}

.section p {
  font-size: 1.2em;
  color: #ccc; /* Lighter text color for contrast */
}

/* Footer */
footer {
  padding: 40px 0;
  background-color: #111;
  text-align: center;
  color: #a5b79b;
  width: 100%;
}